body{
  height: 100rem;
  color: white;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

h1{
  text-align: center;
}
.todoContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

